.cxx
*.iml
.gradle
/local.properties
/.idea
.DS_Store
build
/build
/captures
.externalNativeBuild
fabric.properties
app/.cxx
app/debug/
app/rc/
app/release/
app/staging/
app/mapping.txt
app/seeds.txt
app/unused.txt
app/proguard/mapping.txt
app/proguard/seeds.txt
app/proguard/unused.txt
app/logsis/app-logsis.aab

app/logsis/app-logsis.apk

app/logsis/output-metadata.json